
.mainContentContainer {
    border-radius: 1rem;
    overflow: hidden;
    max-width: 400px;
    min-width: 400px;
}

#contactList {
    max-height: 40vh;
}

.contactContainer {
    box-shadow: 0rem 0rem 1rem 0.1rem rgba(0, 0, 0, 0.267);
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(256, 0, 0, 0.8);
  }

